<?xml version="1.0"?>

<launch>
    <!-- <arg name="use_rviz" default="true" /> -->

    <!-- for amcl -->    
    <arg name="init_x" default="0.0" />
    <arg name="init_y" default="0.0" />
    <arg name="init_a" default="0.0" />

    <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0 0 0.0 /map /odom 1000"/> -->
    <!-- Map server -->
    
    <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find racecar)/map/map1.yaml"/> -->

   

    <!-- ODOMETRY -->
    <!--rf2o_Laser_Odometry-->
    <!-- <include file="$(find racecar)/launch/includes/rf2o.launch.xml" /> -->
    <!-- wheel odometry -->
   <!-- <include file="$(find encoder_driver)/launch/wheel_odom.launch"/> -->
    <!-- Localization -->
    <!-- <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true"> -->
        <!-- <rosparam command="load" file="$(find racecar)/param/teb/ekf_params.yaml" /> -->
    <!-- </node> -->
    <arg name="filename" value="$(find racecar)/map/map1" />
    <node name="map_save" pkg="map_server" type="map_saver" args="-f $(arg filename)" />
    <!-- AMCL -->
    <include file="$(find racecar)/launch/includes/amcl.launch.xml">
        <arg name="init_x" value="$(arg init_x)"/>
        <arg name="init_y" value="$(arg init_y)"/>
        <arg name="init_a" value="$(arg init_a)"/>
    </include>

   <!-- Navstack -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base">
       
        <param name="base_global_planner" value="navfn/NavfnROS"/>  
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>  
        <rosparam file="$(find racecar)/param/teb/teb/teb_local_planner_params.yaml" command="load"/>
         
        <rosparam file="$(find racecar)/param/teb/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find racecar)/param/teb/global_costmap_params.yaml" command="load"/> 
        
        <rosparam file="$(find racecar)/param/teb/base_global_planner_params.yaml" command="load"/>
        <rosparam file="$(find racecar)/param/teb/move_base_params.yaml" command="load"/>
    </node>

    <node pkg="racecar" type="car_controller_new" respawn="false" name="car_controller">     
       
        <param name="Vcmd" value="1.5" /> 
        
        <param name="baseSpeed" value="200"/> 
        <param name="baseAngle" value="90.0"/> 
        <param name="Angle_gain_p" value="-5.5"/> 
        <param name="Angle_gain_d" value="-3.0"/> 
        
        <param name="Lfw" value="1.1"/> 
        <param name="vp_max_base" value="575"/> 
        <param name="vp_min" value="575"/> 
        <param name="goalRadius" value="0.5"/> 

    </node>
    <node pkg="racecar" type="goal_loop.py" name="multi_goals"></node>
    <!-- Rviz 1.1,1.15-->
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find racecar)/rviz/amcl.rviz" if="$(arg use_rviz)" /> -->
</launch>
