<?xml version="1.0"?>

<launch>
    
    <!-- 开启小车传感器 -->
    <!--<include file="$(find racecar)/launch/Run_car.launch" /> -->
    <!-- 开启gmapping建图节点 -->
    <!-- <include file="$(find racecar)/launch/Run_gmapping.launch" />  -->
    <!-- 开启amcl导航节点 -->
    <!-- <include file="$(find racecar)/launch/mycar_amcl.launch" /> -->
    <!-- 开启rviz节点 -->
    <!--<include file="$(find racecar)/launch/rviz.launch" /> -->
    <!-- 开启小车控制 -->
    <node pkg="racecar" type="my_car_control" name="my_car_control" output="screen"/> <!-- 开启小车控制，计算相对位置控制小车启停，和小车减速 -->
    <!-- 开启发布目标中点节点 -->
    <!--<node pkg="opencv_text_1" type="laser_2d" name="laser_2d" output="screen"/> -->
    <node pkg="laser_go" type="laser_go" name="laser_go" output="screen"/> <!-- 计算出偏差调节角度和速度（主要调节前进角度）-->
    <!-- 开启自动标点 -->
    <node pkg="racecar" type="between" name="between" output="screen"/>

     <!-- Rviz -->
    <arg name="use_rviz" default="false" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find racecar)/rviz/gmapping.rviz" if="$(arg use_rviz)" />
</launch>
